<head>
    <link rel="stylesheet" type="text/css" href="application.css">
    <link ral="icon" type="image/png" href="app/assets/images/unsplash.png">
</head>
<body>
    <header>
        
        Header

    </header>
    <main>

        <%= link_to "Back to tasks", tasks_path %>
        <%= link_to "Back to categories", categories_path %>

    </main>
    <footer>

        Footer

    </footer>
</body>